<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doctor Sign In</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header th:replace="header.html :: header">imported</header>
<form method="get" th:action="@{/doctor}">
    <fieldset>
        <label for="doctorname">Your doctor's name: </label>
        <input id="doctorname" name="doctorname" type="text" placeholder="Your name here">
        <hr>
        <label for="number">Your doctor's number: </label>
        <input id="number" name="number" type="number" placeholder="0">
        <hr>
        <input type="submit" value="Sign In">
    </fieldset>
</form>
<footer th:replace="footer.html :: footer">imported</footer>
</body>
</html>
